#main-container {
    /* background-color: rgb(151, 151, 151); */
    min-height: 100vh;
}

.navbar {
    background-color: #00a0d6;
}

.navbar-brand {
    padding: 3px 0 5px 0;
}

.navbar-brand .img-fluid {
    height: 34px;
}

#nav-link-brand{
    color: white;
    text-decoration: underline #00a0d6;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    transition: 0.3s;
}

#nav-link-brand:hover{
    text-decoration: underline #0d234c;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

#nav-link-brand-active{
    color: white;
    text-decoration: underline white;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    transition: 0.3s;
}

#nav-link-brand-active:hover{
    text-decoration: underline #0d234c;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}