@font-face {
    font-family: PostNordFont;
    src: url('fonts/PostNordSans-Regular.ttf');
}

html, body{
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

#main-container {
    /* background-color: rgb(151, 151, 151); */
    font-family: PostNordFont;
    min-height: 100vh;
}

.navbar {
    background-color: #1c1c1c;
    height: 80px;
    display: inline-block;
}

.navbar-brand {
    padding: 3px 0 5px 0;
}

.navbar-brand .img-fluid {
    height: 34px;
}

#nav-link-brand{
    color: white;
    text-decoration: underline #1c1c1c;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    transition: 0.3s;
    font-size: 20px;
}

#nav-link-brand:hover{
    text-decoration: underline #969696;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

#nav-link-brand-active{
    color: white;
    text-decoration: underline white;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    transition: 0.3s;
    font-size: 20px;
}

#nav-link-brand-active:hover{
    text-decoration: underline #969696;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.splide__slide img{
	width : 100%;
	height: 100%;
    border-radius: 2%;
}

.image_slider_txt{
    color: white;
    position: absolute;
    font-size: 25px;
    left: 10px;
    bottom: 2px;
}

.brand-footer {
    position: relative;
    align-self: flex-end;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    top: auto;
    bottom: 0;
    background-color: #efefef;
}

.brand-footer-background {
    background-color: #efefef;
}

.brand-footer-login {
    font-size: large;
    font-weight: bold;
}
  
.brand-footer-link {
    color: #292929;
    font-size: large;
    transition: 0.3s;
    text-decoration: underline #efefef;
}
  
.brand-footer-link:hover {
    color: #969696;
    text-decoration: none;
}

.brand-text-center {
    text-align: center;
}

.brand-float-left {
    float: left;
}

.brand-float-right {
    text-align: right;
}

.qr-code {
    max-width: 200px;
    margin: 10px;
}

.brand_car_preview {
    background-color: #171717;
    color: white;
}

.brand_car_preview_price {
    background-color: #575757;
    color: white;
}

.brand_text_price {
    font-size: 28px;
}

.frontpage-header {
    color: #ffffff;
    font-weight: bold;
}

.frontpage-subheader {
    color: #ffffff;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.frontpage-header-background {
    top: -24px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/static/images/frontpage_banner.jpg);
    filter: grayscale(50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 800px;
    position: relative;
    text-align: center;
}

.centered-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car_overview {
    margin-bottom: 40px;
    cursor: pointer;
}

.alert_bar {
    height: 50px;
    background-color: #dec573;
    text-align: center;
    padding-top: 12px;
    text-decoration: underline #dec573;
    color: black;
}

.car_info_panel {
    background-color: black;
    margin-right: -12px;
}

.black_background {
    background-color: black;
}

.car_info_text {
    margin-left: 10px;
    color: white;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: -5px;
}

.car_info_sub_text {
    margin-left: 10px;
    color: white;
    font-size: 23px;
    display: inline-block;
    vertical-align: top;
}

.dkk_text {
    color: grey;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}