{% extends "base.html" %} 
{% import "wtf.html" as wtf %}
{% set active_page = "form" %} 
{% block title %}{{title}}{% endblock %} 


{% block content %}

<h1 class="pt-5 pb-2">Tilføj ny bil</h1>

		{% if message %}

			<p class="lead"><strong>{{ message }}</strong></p>

			<p><a href="{{ url_for('add_car') }}">Tilføj endnu en bil.</a></p>

			<p><a href="{{ url_for('biler') }}">Gå til biler</a></p>

		{% else %}


			{% with errors = get_flashed_messages() %}
				{% if errors %}
					{% for err in errors %}
						<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{ err }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
            
		    {{ wtf.quick_form(form1) }}

		{% endif %}

{% endblock %}