{% extends "base.html" %} 
{% set active_page = "bil" %} 
{% block title %}{{ table.car_brand[0] }} {{ table.car_model[0] }} {{ table.car_sub_model[0] }}{% endblock %} 

{% block content %}

<h4 class="text-center">{{ table.car_brand[0] }}</h4>
<h2 class="text-center">{{ table.car_model[0] }} {{ table.car_sub_model[0] }}</h2>
<br>


<div class="row">
    <div class="car_info_panel col-4">
        {% for index,row in table.iterrows() %}

        <p class="car_info_text">Md. Ydelse : </p>
        <p class="car_info_sub_text">{{ ((((((row.car_price)/100)*80)/12)|round(2))|string).split('.')[0] }}</p>
        <p class="dkk_text">DKK</p>

        <p class="car_info_text">Engangsydelse : </p>
        <p class="car_info_sub_text">{{ ((((((row.car_price)/100)*20))|round(2))|string).split('.')[0] }}</p>
        <p class="dkk_text">DKK</p>
        
        <p class="car_info_text">Totalomkostning : </p>
        <p class="car_info_sub_text">{{ (((row.car_price)|round(2))|string).split('.')[0] }}</p>
        <p class="dkk_text">DKK</p>

        <p class="car_info_text">Restværdi : </p>
        <p class="car_info_sub_text">{{ (((((((row.car_price)))*2.1)-(((row.car_price)/100)*20))|round(2))|string).split('.')[0] }}</p>
        <p class="dkk_text">DKK</p>

        <p class="car_info_text">Årgang : </p>
        <p class="car_info_sub_text">{{ row.car_model_year }}</p>

        <p class="car_info_text">Kilometer : </p>
        <p class="car_info_sub_text">{{ row.car_mileage }}</p>
        
        {% endfor %}
    </div>

    <div id="carouselBasicExample" class="carousel slide carousel-fade col-8" data-mdb-ride="carousel">
 
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
            {% for index,row in table.iterrows() %}
            <div class="carousel-item active">
                <img src="{{ row.car_thumbnail }}" class="d-block w-100"/>
            </div>
            <div class="carousel-item">
                <img src="{{ row.car_image_2 }}" class="d-block w-100"/>
            </div>
            <div class="carousel-item">
                <img src="{{ row.car_image_3 }}" class="d-block w-100"/>
            </div>
            <div class="carousel-item">
                <img src="{{ row.car_image_4 }}" class="d-block w-100"/>
            </div>
            {% endfor %}
            
        </div>

        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    {% if session['admin_login'] == 'lukas546' %}
    <div>
        {# <a href="https://chart.googleapis.com/chart?cht=qr&chl=svend.azurewebsites.net/bil/{{ table.car_ID[0] }}&chs=150x150&chld=L|0" download> #}
        <img src="https://chart.googleapis.com/chart?cht=qr&chl=svend.azurewebsites.net/bil/{{ table.car_ID[0] }}&chs=150x150&chld=L|0" class="qr-code img-thumbnail img-responsive" title="qr kode {{ table.car_brand[0] }} {{ table.car_model[0] }}"/>
        {# </a> #}
    </div>
    {% endif %}

</div>

{% endblock %}