{% extends "base.html" %} 
{% set active_page = "biler" %} 
{% block title %}{{title}}{% endblock %} 

{% block content %}

<h2>Alle biler</h2>
<br>

<div class="row">
    {% for index,row in table.iterrows() %}
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-5 car_overview" onclick="window.location.href='/bil/{{ row.car_ID}}'">
        <div class="card">
            <div class="container car_overview_image_div">
                <img src="{{ row.car_thumbnail }}" alt="{{ row.car_brand}}" class="car_overview_image">
            </div>
            <div class="container brand_car_preview">
                <h5 class="brand-text-center"><b>{{ row.car_brand}}</b></h5>
                <h5 class="brand-text-center">{{ row.car_model}} {{ row.car_sub_model}}</h5>
                <p class="brand-float-left">Årgang:</p><p class="brand-float-right">{{ row.car_model_year }}</p>
                <p class="brand-float-left">Kilometer:</p><p class="brand-float-right">{{ row.car_mileage }}</p>
                <p class="brand-float-left">Leasingtype:</p><p class="brand-float-right">Privat</p>
            </div>
            <div class="container brand_car_preview_price">
                <p class="brand-text-center brand_text_price"><b>KR. {{ ((((((row.car_price)/100)*80)/12)|round(2))|string).split('.')[0] }}</b></p>
                <p class="brand-text-center">Månedlig ydelse inkl. moms</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}