{% extends "base.html" %} 
{% set active_page = "form" %} 
{% block title %}{{title}}{% endblock %} 


{% block content %}


<h2>Form test</h2>
<br>
<div class="row">
    <div class="col-4">
       
        <form method="POST">
           
            <div class="mb-3">
                <label for="car_brand" class="form-label">car_brand</label>
                <input type="text" class="form-control" id="car_brand">
            </div>

            <div class="mb-3">
                <label for="car_model" class="form-label">car_model</label>
                <input type="text" class="form-control" id="car_model">
            </div>

            <div class="mb-3">
                <label for="car_sub_model" class="form-label">car_sub_model</label>
                <input type="text" class="form-control" id="car_sub_model">
            </div>

            <div class="mb-3">
                <label for="car_mileage" class="form-label">car_mileage</label>
                <input type="number" class="form-control" id="car_mileage">
            </div>

            <div class="mb-3">
                <label for="totalPayment" class="form-label">car_model_year</label>
                <input type="number" class="form-control" id="car_model_year">
            </div>

            <div class="mb-3">
                <label for="car_horsepower" class="form-label">car_horsepower</label>
                <input type="number" class="form-control" id="car_horsepower">
            </div>

            <div class="mb-3">
                <label for="car_sold" class="form-label">car_sold</label>
                <input type="text" class="form-control" id="car_sold">
            </div>

            <div class="mb-3">
                <label for="car_price" class="form-label">car_price</label>
                <input type="number" class="form-control" id="car_price">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}