{% extends "base.html" %} 
{% set active_page = "forside" %} 
{% block title %}{{title}}{% endblock %} 

{% block banner %}

{{ super() }}

<div class="container-fluid">
    <div class="row">
        <div class="col frontpage-header-background">
            <div class="centered-vertical">
                <h1 class="frontpage-header rounded-pill text-center">Svend Leasing</h1>
                <h3 class="frontpage-subheader text-center">
                    blablabla
                </h3>
                <br><br>
                <button type="button" class="btn btn-light" onclick="window.location.href='/biler'">Biler
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-light" onclick="window.location.href='/kontakt_os'">Kontakt os
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

{# Slideshow #}
{# <h2>Nye biler</h2>

<div id="image-slider" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
            {% for index,row in table.iterrows() %}
                <li class="splide__slide">
                    <img src="static/images/range.jpg">
                    <div class="image_slider_txt">
                        {{ row.car_brand}}, {{ row.car_model}}<br>
                        {{ ((((((row.car_price)/100)*80)/12)|round(2))|string).split('.')[0] }},- /md<br>
                        {{ row.car_mileage}} km<br>
                        {{ row.car_model_year}}
                    </div>
                </li>
            {% endfor %}
		</ul>
	</div>
</div> #}

<br>
<div class="row">
    <div class="col">
    <h2>Hvad er flexleasing?</h2>

    {# Lorem ipsum #}
    <section>
        <p>
            {{ info_table.info_text[0] }}
        </p>
        <p>
            {{ info_table.info_text[1] }}
        </p>
    </section>
    </div>

    <div class="col">
    <h2>Hvorfor vælge flexleasing?</h2>

    {# Lorem ipsum #}
    <section>
        <p>
            {{ info_table.info_text[0] }}
        </p>
        <p>
            {{ info_table.info_text[1] }}
        </p>
    </section>
    </div>
</div>

{% endblock %}