{% extends "base.html" %} 
{% set active_page = "forside" %} 
{% block title %}{{title}}{% endblock %} 

{% block content %}

<h1>{{ title }}</h1>

{# Slideshow #}
<div id="image-slider" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
            {% for index,row in table.iterrows() %}
                <li class="splide__slide">
                    <img src="static/images/range.jpg">
                    <div class="image_slider_txt">
                        {{ row.car_brand}}, {{ row.car_model}}<br>
                        {{ ((((((row.car_price)/100)*80)/12)|round(2))|string).split('.')[0] }},- /md<br>
                        {{ row.car_mileage}} km<br>
                        {{ row.car_model_year}}
                    </div>
                </li>
            {% endfor %}
		</ul>
	</div>
</div>

<br>
<div class="row">
    <div class="col">
    <h2>Hvad er flex leasing?</h2>

    {# Lorem ipsum #}
    <section>
        <p>
            {{ info_table.info_text[0] }}
        </p>
        <p>
            {{ info_table.info_text[1] }}
        </p>
    </section>
    </div>

    <div class="col">
    <h2>Hvorfor vælge flex leasing?</h2>

    {# Lorem ipsum #}
    <section>
        <p>
            {{ info_table.info_text[0] }}
        </p>
        <p>
            {{ info_table.info_text[1] }}
        </p>
    </section>
    </div>
</div>

{% endblock %}