{% extends "base.html" %} 
{% set active_page = "forside" %} 
{% block title %}{{title}}{% endblock %} 

{% block banner %}

{{ super() }}

<div class="container-fluid">
    <div class="row">
        <div class="col frontpage-header-background">
            <div class="centered-vertical">
                <h1 class="frontpage-header rounded-pill text-center">Svend Leasing</h1>
                <h3 class="frontpage-subheader text-center">
                    blablabla
                </h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<h2>Nye biler</h2>

{# Slideshow #}
<div id="image-slider" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
            {% for index,row in table.iterrows() %}
                <li class="splide__slide">
                    <img src="static/images/range.jpg">
                    <div class="image_slider_txt">
                        {{ row.car_brand}}, {{ row.car_model}}<br>
                        {{ ((((((row.car_price)/100)*80)/12)|round(2))|string).split('.')[0] }},- /md<br>
                        {{ row.car_mileage}} km<br>
                        {{ row.car_model_year}}
                    </div>
                </li>
            {% endfor %}
		</ul>
	</div>
</div>

<br>
<div class="row">
    <div class="col">
    <h2>Hvad er flexleasing?</h2>

    {# Lorem ipsum #}
    <section>
        <p>
            {{ info_table.info_text[0] }}
        </p>
        <p>
            {{ info_table.info_text[1] }}
        </p>
    </section>
    </div>

    <div class="col">
    <h2>Hvorfor vælge flexleasing?</h2>

    {# Lorem ipsum #}
    <section>
        <p>
            {{ info_table.info_text[0] }}
        </p>
        <p>
            {{ info_table.info_text[1] }}
        </p>
    </section>
    </div>
</div>

{% endblock %}